.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background-color: #fff;
  display: flex;
  width: 100%;
  padding-top: 31px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }
}

.nav-container {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1303px;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .nav-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.logo {
  color: #87cefa;
  flex-grow: 1;
  font: 700 27px Roboto, sans-serif;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .nav-links {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.nav-link {
  font-family: Poppins, sans-serif;
  align-self: stretch;
  margin: auto 0;
}

.login-button {
  font-family: Poppins, sans-serif;
  border-radius: 20px;
  border: 1px solid rgba(135, 206, 250, 1);
  background-color: #87cefa;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  padding: 9px 53px;
}

@media (max-width: 991px) {
  .login-button {
    white-space: initial;
    padding: 0 20px;
  }
}

.separator {
  border: 1px solid rgba(236, 236, 232, 1);
  background-color: #ecece8;
  align-self: center;
  margin-top: 15px;
  width: 1376px;
  max-width: 100%;
  height: 1px;
}

.main-content {
  margin-top: 33px;
  width: 100%;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
    padding-right: 20px;
  }
}

.main-wrapper {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .main-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.info-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
}

@media (max-width: 991px) {
  .info-column {
    width: 100%;
  }
}

.info-text-wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
}

@media (max-width: 991px) {
  .info-text-wrapper {
    margin-top: 40px;
  }
}

.text-content {
  z-index: 10;
  display: flex;
  padding-left: 80px;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 991px) {
  .text-content {
    padding-left: 20px;
  }
}

.title {
  color: #333;
  font: 37px Averta-Semibold, sans-serif;
}

.description {
  display: flex;
  margin-top: 29px;
  gap: 7px;
  color: #828282;
  text-align: center;
}

@media (max-width: 991px) {
  .description {
    margin-right: 10px;
  }
}

.vertical-separator {
  border: 1px solid rgba(51, 51, 51, 1);
  background-color: #333;
  width: 1px;
  height: 27px;
}

.info-text {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}

.cta-button {
  font-family: Poppins, sans-serif;
  border-radius: 20px;
  background: linear-gradient(95deg, #87cefa 0%, #87cefa 100%);
  box-shadow: 0px 10.45px 23.223px -6.967px #fbe18f;
  color: #fff;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  margin: 94px 51px 0 0;
  padding: 22px 53px;
}

@media (max-width: 991px) {
  .cta-button {
    margin: 40px 10px 0 0;
    padding: 0 20px;
  }
}

.illustration {
  aspect-ratio: 1.2;
  object-fit: auto;
  object-position: center;
  width: 193px;
  stroke-width: 2.903px;
  stroke: #ffdd72;
  margin-top: -22px;
  max-width: 100%;
}

.image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 70%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .image-column {
    width: 100%;
  }
}

.image-content {
  aspect-ratio: 1.33;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .image-content {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footer {
  background-color: #efc541;
  display: flex;
  margin-top: 34px;
  width: 100%;
  flex-direction: column;
  padding: 38px 31px 67px;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.footer-separator {
  border: 1px solid rgba(236, 236, 232, 1);
  background-color: #ecece8;
  height: 1px;
}

@media (max-width: 991px) {
  .footer-separator {
    max-width: 100%;
  }
}

.footer-container {
  align-self: center;
  display: flex;
  width: 975px;
  max-width: 100%;
  flex-direction: column;
  margin: 18px 116px 0 0;
}

@media (max-width: 991px) {
  .footer-container {
    margin-right: 10px;
  }
}

.address {
  align-self: end;
  display: flex;
  gap: 12px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 991px) {
  .address {
    flex-wrap: wrap;
  }
}

.location-icon {
  margin-bottom: 10px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 25px;
}

.location-text {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .location-text {
    max-width: 100%;
  }
}

.footer-details {
  display: flex;
  margin-top: 10px;
  width: 100%;
  align-items: start;
  gap: 20px;
}

@media (max-width: 991px) {
  .footer-details {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}

.logo-footer {
  color: #87cefa;
  flex-grow: 1;
  font: 700 27px Roboto, sans-serif;
}

.contact {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  justify-content: space-between;
}

.contact-item {
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .contact-item {
    white-space: initial;
  }
}

.contact-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 25px;
  fill: #000;
}

.contact-text {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}

.social-media {
  align-self: start;
  display: flex;
  align-items: start;
  gap: 20px;
  justify-content: space-between;
}

.social-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  fill: #000;
}

.social-icon-facebook {
  width: 24px;
  align-self: stretch;
}

.social-icon-twitter {
  width: 22px;
}

.social-icon-instagram {
  width: 22px;
}